.header-image {
    background-image: url(https://s3-ap-northeast-1.amazonaws.com/coffee-cup/images/header/header12.jpg);
    height: 400px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.header-content {
    font-size: 75px;
    padding-top: 150px;
}